.DS_Store
.idea
.coverage
.mypy_cache
.pytest_cache
dist
venv/
.vscode/
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

eggs/
.eggs/

share/python-wheels/
*.egg-info/
